h1{
    color: rgb(225, 194, 163);
    text-align:center;
    font-family: 'Old Standard TT', serif;
    font-size: 2em;
    margin-left: 15px;
}   
body{
    background-color: rgb(43, 5, 4);
    font-size: large;
}    
.presentantion-block{
    color: rgb(190, 166, 141);
    width: 350px;;
    text-align: center;
    background-color:rgba(53, 15, 14, 0.562);
    padding: 15 15 0 15;
 
}
.presentantion-block li {
    text-align: left;
}
.presentantion-block img {
    width: 200px;
    padding: 10px;
    margin-left: 20%;
}
li {
    list-style-type:square;
    list-style-image: linear-gradient(to left bottom, rgb(34, 1, 1), rgb(221, 158, 158))
}
a {
    text-decoration: none;
}