h1{
    font-family:'Cookie', cursive;
    color: rgb(225, 194, 163);
    text-align:center;
}   
a {
    text-decoration: none;
}
body{
    text-align: center;
    background-color: rgb(127, 85, 57);
    font-family: 'Kalam';
    font-size: large;
}    
.contentiknow {
    text-align: left;
    color:beige;
}

p{
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}