h1{
    color: rgb(225, 194, 163);
    text-align:center;
    font-family: 'Old Standard TT', serif;
    font-size: 2em;
    margin-left: 15px;
}   
body{
    background-color: rgb(43, 5, 4);
    font-size: large;
}    
.presentantion-block{
    color: rgb(190, 166, 141);
    width: 350px;;
    text-align: justify;
 
}
.presentantion-block img {
    width: 200px;
    padding: 10px;
    margin-left: 20%;
}