body {
    font-family: 'poppins', sans-serif;
    background-color: rgb(39, 11, 11);
    color: beige;
    text-align: center;
    margin: auto;
}
.names{
    text-align: left;
    line-height: 22px;
    font: size 17%;
    font-family: 'poppins', sans-serif;
    margin-bottom: 15px;
    list-style: circle;
}
h1, h3{
    margin: 12px;
}
.picture {
    border-radius: 100%;
    width: 200px; 
    height: 200px;
    margin: auto;
}
.button{
    color:beige;
    text-align: center;
    text-decoration: none;
    background-color: rgb(77, 27, 27);
    padding: 15px 50px;
    border-radius: 12px;
    margin-top: 50px;
}
a {
    text-decoration: none;
    color: beige;
    margin-top: 15px;
}
.musics{
    width: 500px;
    margin:15px;
    padding: 1px;
    display:inline-block;
    vertical-align:middle;
}
.musics2{
    width: 500px;
    margin:15px;
    padding: 1px;
    display:inline-block;
    vertical-align:middle;
}
.musics3{
    width: 500px;
    padding: 1px;
    display:inline-block;
    vertical-align:middle;  
}
.musics4{
    width: 500px;
    margin:15px;
    padding: 1px;
    display:inline-block;
    vertical-align:middle;
}
.musics5{
    width: 500px;
    height: 450px;
    margin:15px;
    padding: 1px;
    display:inline-block;
    vertical-align:middle;
    overflow: auto;
}